#dv
{
  align:center;
}

.divstyleCreateSeries
{
display:none; position:absolute; left:1px; top:1px;  width:100%;  height:100%; background-color:#888888; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;

}
.pstyle
{
  align : center;

}

.btn
{
	text-decoration: none;
	padding-left: 16px; 
	padding-right: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style:bold;
	color:black
	font-family:arial;

}
#tbl
{
	width:600px;
	
}

.GreyBold
{ 
    font-face:verdana;
    font-size:100%; 
    color:#444444;
    font-weight:bold;
} 


#tbltd
{
	height:150px;
}
.body 
{ 
    font-face:verdana;
    font-size:100%; 
    color:grey;
	
} 
.bold 
{ 
    font-weight:bold;
}           
.grey
{
    color:grey;
    text-decoration: underline;
}
.pickStyle
{
    width: 300px; 
}
.alignRight 
{ 
    font-face:verdana;
    font-size:100%; 
    color:#444444;
    font-weight:bold;
    align : right;
    padding-left: 170px;
}